* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background-color: lightblue;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.options {
  display: flex;
  gap: 20px;
}

.range {
  width: 300px;
}

.container {
  background-color: black;
  border: 1px solid black;
  height: 800px;
  width: 800px;

  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.cell {
  background-color: white;
  flex: 1;
  border: 1px solid black;
}

.colorOptions {
  display: flex;
  gap: 30px;
}
